@charset "UTF-8";

//==================================
//	variables
//==================================
$sp: 'max-width: 768px';
$tab: 'max-width: 1024px';
$pc: 'min-width: 769px';

//==================================
//	mixin
//==================================
@mixin sp() {
	@media screen and ($sp) {
		@content;
	}
}

@mixin tab() {
	@media screen and ($tab) {
		@content;
	}
}